body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 20;
}

.caja{
    border-top: 4px solid rgb(71, 230, 230);
    padding: 25px;
    box-shadow: 3px 5px 15px grey;
    border-radius: 10px;
}

.caja p{
    color:grey;
}

.logo{
    display:flex;
    justify-content: flex-end;
}